SilverlightExampleApp/Service References/ClientDataServiceReference/ClientDataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:1233/Secure/ClientDataService.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:1233/Secure/ClientDataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1233/Secure/ClientDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SilverlightExampleApp.Web.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ClientDataService_Get_InputMessage">
    <wsdl:part name="parameters" element="Get" />
  </wsdl:message>
  <wsdl:message name="ClientDataService_Get_OutputMessage">
    <wsdl:part name="parameters" element="GetResponse" />
  </wsdl:message>
  <wsdl:message name="ClientDataService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="GetAll" />
  </wsdl:message>
  <wsdl:message name="ClientDataService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="ClientDataService_Insert_InputMessage">
    <wsdl:part name="parameters" element="Insert" />
  </wsdl:message>
  <wsdl:message name="ClientDataService_Insert_OutputMessage">
    <wsdl:part name="parameters" element="InsertResponse" />
  </wsdl:message>
  <wsdl:message name="ClientDataService_Update_InputMessage">
    <wsdl:part name="parameters" element="Update" />
  </wsdl:message>
  <wsdl:message name="ClientDataService_Update_OutputMessage">
    <wsdl:part name="parameters" element="UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ClientDataService_Delete_InputMessage">
    <wsdl:part name="parameters" element="Delete" />
  </wsdl:message>
  <wsdl:message name="ClientDataService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="DeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="ClientDataService">
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="urn:ClientDataService/Get" message="ClientDataService_Get_InputMessage" />
      <wsdl:output wsaw:Action="urn:ClientDataService/GetResponse" message="ClientDataService_Get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="urn:ClientDataService/GetAll" message="ClientDataService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="urn:ClientDataService/GetAllResponse" message="ClientDataService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="urn:ClientDataService/Insert" message="ClientDataService_Insert_InputMessage" />
      <wsdl:output wsaw:Action="urn:ClientDataService/InsertResponse" message="ClientDataService_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="urn:ClientDataService/Update" message="ClientDataService_Update_InputMessage" />
      <wsdl:output wsaw:Action="urn:ClientDataService/UpdateResponse" message="ClientDataService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="urn:ClientDataService/Delete" message="ClientDataService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="urn:ClientDataService/DeleteResponse" message="ClientDataService_Delete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>