SilverlightExampleApp/Service References/AuthenticationServiceReference/AuthenticationService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:1233/Services/AuthenticationService.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:1233/Services/AuthenticationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AuthenticationService_Authenticate_InputMessage">
    <wsdl:part name="parameters" element="Authenticate" />
  </wsdl:message>
  <wsdl:message name="AuthenticationService_Authenticate_OutputMessage">
    <wsdl:part name="parameters" element="AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="AuthenticationService_LogOut_InputMessage">
    <wsdl:part name="parameters" element="LogOut" />
  </wsdl:message>
  <wsdl:message name="AuthenticationService_LogOut_OutputMessage">
    <wsdl:part name="parameters" element="LogOutResponse" />
  </wsdl:message>
  <wsdl:portType name="AuthenticationService">
    <wsdl:operation name="Authenticate">
      <wsdl:input wsaw:Action="urn:AuthenticationService/Authenticate" message="AuthenticationService_Authenticate_InputMessage" />
      <wsdl:output wsaw:Action="urn:AuthenticationService/AuthenticateResponse" message="AuthenticationService_Authenticate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <wsdl:input wsaw:Action="urn:AuthenticationService/LogOut" message="AuthenticationService_LogOut_InputMessage" />
      <wsdl:output wsaw:Action="urn:AuthenticationService/LogOutResponse" message="AuthenticationService_LogOut_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>